html {
  height:100%;
}

body {
  margin: 0;
  width : 100%;
  min-height : 100%;
  background-color: skyblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

#board {
  display : grid;
  grid-template-columns : repeat(4, 1fr);
  grid-gap : 5px;
  /* superseded by javascript */
  /* width: 90vmin; */
  /* height: 90vmin; */
  /* aspect-ratio: 1; */
  margin : 2vmin 5vmin;
  padding: 2vmin 2vmin;
  container-type : size;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  background-color: antiquewhite;
  border: 1vmin;
  border-radius: 1vmin;
  border-color: antiquewhite;
}

#controls {
  display : grid;
  grid-template-columns : 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap : 0.2em;
  max-width : 80vmin;
  max-height : 10rem;
  margin: 1vmin 5vmin;
  margin-top: 3vmin;
  padding: 2vmin;
  font-size: small;
  /* height: 10vh; */
  /* container-type: size; */
  background-color: white;
  border: 1vmin;
  border-radius: 1vmin;
  border-color: white;
}

/* Need to overwrite user agent stylesheet i guess */
button {
  font-size: inherit;
}

#board_size_controls {
  display: grid;
  grid-template-areas: 'button button'
                       'width height';
  grid-gap: 0.5em;
  justify-items: center;
}
#board_size_button {
  grid-area: button;
}

#width_input #height_input {
  width : 2em;
}

#timer_box {
  width : 100%;
  height : 100%;
  grid-column : 1/-1;
  container-type: size;
  /* to justify center*/
  display: grid;
  justify-content: center;
}

#timer {
  width : 100%;
  height : 100%;
  /* 25cqw was found using experimentation*/
  font-size: min(80cqh, 25cqw);
}

.tile {
  aspect-ratio: 1;
  background-color: cadetblue;
  border : max(1cqw, 1cqh) solid black;
  border-radius : max(2cqw, 2cqh);
  container-type : size;
  transform: translate(0%,0%);
  transition: all 0.10s cubic-bezier(0.4, 0, 1, 1);;
}

.tile.slide_right {
  /* animation: right 0.5s linear infinite; */
  transform: translate(calc(100% + 5px),0);
}
.tile.slide_left {
  /* animation: right 0.5s linear infinite; */
  transform: translate(calc((100% + 5px) * -1),0);
}
.tile.slide_up {
  /* animation: right 0.5s linear infinite; */
  transform: translate(0,calc((100% + 5px) * -1));
}
.tile.slide_down {
  /* animation: right 0.5s linear infinite; */
  transform: translate(0,calc(100% + 5px));
}

.tile-text {
  /* To size text accroding to the tile */
  font-size : min(70cqw, 70cqh);

  /* To shift text ot the center */
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
